html {
	padding: 1;
}
h1 {
	border:2px solid;
	background-color:gray;
}
p.one{
	border:2px solid;
}
b.one{
	border:1px solid;
	background-color: gray;
}
p.two{
	border:2px dashed blue;
}
b.two {
	border: 1px dashed red;
	background-color: gray;
}
img {
	border: 4px double ;
}