body{
	padding-left:25%;
	padding-top:10px;
	width: 50%;
	font-size:24px;
}
div {
	text-align:center;
	border: 1px solid;
}
a {
	color: green;
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration:underline;
}
a:active{
	color:yellow;
}
a:visited {
	color:blue;
}
