@charset "utf-8";
/* CSS Document */
body{
	background-color: #888;
	margin: 0px auto;
	text-align: center;
	font-family: sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;/* Non-prefixed version, currently
            supported by Chrome, Edge, Opera and Firefox */
}
table{
	margin: 0px auto;
	border-spacing: 0px;
}
td{
	cursor: crosshair;
	background-color: #bbb;
	height: 34px;
	width: 34px;
	min-width: 34px;
	min-height: 34px;
	max-width: 40px;
	max-height: 40px;
	padding: 0px;
	border: 3px solid;
	border-color: #ddd #777 #777 #ddd;
}
h1{
	height: 40px;
	line-height: 40px;
	margin: 10px 0px 0px 0px;
}
.function{
	height: 40px;
	line-height: 40px;
}
.savedGame{
	height: 30px;
	line-height: 30px;
}
a{
	color: #000000;
}
.custom{
	width: 40px;
}
.savedSection{padding-top: 20px;}
.revealed{
	background-color: #aaa;
	height: 38px;
	width: 38px;
	min-width: 38px;
	min-height: 38px;
	border: 1px solid rgb(119,119,119);
}
.bomb{
	background-color:#f00;
	min-width: 38px;
	min-height: 38px;
}
td:not(.revealed):hover{
	transition: background-color;
	animation: blink 500ms linear infinite;
}
@keyframes blink{
	0%{
		background-color:#bbb;
		border-color: #ddd #777 #777 #ddd
	}
	50%{
		background-color: white;
		border-color: wheat;
	}
	100%{
		background-color: #bbb;
		border-color: #ddd #777 #777 #ddd
	}
}
.clickhere{
	background-color: rgb(210, 231, 18);
	border-color: rgb(244, 247, 117) rgb(84, 85, 2) rgb(84, 85, 2) rgb(244, 247, 117);
}
.onseen{
	background-color: #bbb;
}
.blinking{
	transition: background-color;
	animation: blink 500ms linear infinite;
}